<form [formGroup]="myForm">
    <div>
        <h1 style="margin-left: 50px"><img src="src\app\Pfizer-the-total-business.jpg" alt="Trulli" width="33" height="33">SACCHON</h1>
    </div>
    <div>
        <h2 style="margin-left: 50px" >Sign Up</h2>
    </div>
    <div>
        <label style="margin-left: 75px">e-mail</label><br>
        <input style="margin-left: 75px" formControlName="e-mail" type="text"><br>
    </div>
    <div>
        <label style="margin-left: 75px">password</label><br>
        <input style="margin-left: 75px" formControlName="password" type="text"><br>
    </div>
    <div>
        <label style="margin-left: 75px">name</label><br>
        <input style="margin-left: 75px" formControlName="name" type="text"><br>
    </div>
    <div>
        <label style="margin-left: 75px">surname</label><br>
        <input style="margin-left: 75px" formControlName="surname" type="text"><br>
    </div>
    <div>
        <label style="margin-left: 75px">addressl</label><br>
        <input style="margin-left: 75px" formControlName="address" type="text"><br>
    </div>
    <div>
        <label style="margin-left: 75px">telephone number</label><br>
        <input style="margin-left: 75px" formControlName="telephone number" type="text"><br>
    </div>
    <div>
        <label style="margin-left: 75px" for="birthday">Birthday:</label>
        <label style="margin-left: 85px">sex</label>
        <br>
        <input style="margin-left: 75px" type="date" id="birthday" name="birthday">
        <select>
            <option value="male">male</option>
            <option value="female">female</option>
        </select>
    </div>
    <div>
        <br><button style="margin-left: 222px" type="submit">Sign Up</button>
    </div>
</form>