<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h3> New Patients Available for Consultation </h3>
        <!-- TODO list of all patients ready for consulting that dont have an assigned dr-->
        <!-- <ul>
            <li *ngFor="let item of items; let idx=index;">
            {{idx}} : {{item}}  <button type="button" class="btn btn-primary">View Data</button>
            </li>
        </ul> -->
    </div>
    <div class="col-sm-4">
       
    </div>
</div>
