<form [formGroup]="myForm">
    <div>
        <h1 style="margin-left: 50px"><img src="src\app\Pfizer-the-total-business.jpg" alt="Trulli" width="33" height="33">SACCHON</h1><br>
    </div>
    <div class= "container">
    <div class="row">
            <a class="navbar-brand" style="margin-left: 50px" style="color:black;"[routerLink]="'MDR-home-page'">HOME</a> 
            <a class="navbar-brand" style="margin-left: 5px" style="color:black;"[routerLink]="'MDR-view-data-page'>VIEW MY DATA'">VIEW DATA</a> 
            <a class="navbar-brand" style="margin-left: 5px" style="color:black;"[routerLink]="'MDR-past-consultations-page'">CONSULATIONS</a> 
            <a class="navbar-brand" style="margin-left: 5px" style="color:black;"[routerLink]="'MDR-account-page'">ACCOUNT</a> 
            <a class="navbar-brand" style="margin-left: 5px" style="color:black;"[routerLink]="'MDR-login-page'">SIGN OUT</a>
    </div>
    <div>
        <h1 style="margin-left: 50px">MY ACCOUNT</h1><br>
    </div>
    <div>
        <button type="submit" style="margin-left: 75px">REMOVE ACCOUNT</button><br><br>
    </div>
</form>