<div class="container">
    <br>
	<div class="row">
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-sq-lg btn-block btn-huge">Sign Up Doctor</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-sq-lg btn-block btn-huge">Doctor Reports</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary btn-sq-lg btn-block btn-huge">Patient Reports</a>
        </div>
    </div>
</div>

<!--TODO make buttons work routes-->