<div class="container">
    <div class="row">
            <h3>Past Consultations</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Consultation</th>
                    <th scope="col">Doctor</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                <!-- <tr *ngIf="items.length">
                    <th scope="row"></th>
                    <td></td> 
                    <td></td>     
                    <td></td>                
                </tr>                   -->
                </tbody>
            </table>
            <!--TODO show patients all past consultations-->
    </div>
</div>