<div class="container">
    <div class="row">
        <h3>View Data</h3>
    </div>
    <div class="row">
        
        <div class="col-md-6">
            
            <app-period-form></app-period-form>

            <p>Average Daily Glucose: </p>
            <!-- TODO show average daily glucose in that period -->

            
                <h4>Blood Level Glucose Inputs</h4>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Level</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr *ngIf="items.length">
                        <th scope="row"></th>
                        <td></td> 
                        <td></td>     
                        <td></td>                
                      </tr>                   -->
                      <!--TODO show due patients-->
                    </tbody>
                  </table>
                <!--TODO show patients all glucose inputs-->
            <!-- TODO add edit and delete buttons -->
                
            
            

        </div>
        <div class="col-md-6">
            
            <app-period-form></app-period-form>
            <p>Average Carb Intake: </p>
            <!-- TODO show average Carb Intake in that period -->

            
                <h4>Carb Intake Inputs</h4>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Carb Intake</th>
                        <th scope="col">Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr *ngIf="items.length">
                        <th scope="row"></th>
                        <td></td>     
                        <td></td>                
                      </tr>                   -->
                      <!--TODO show due patients-->
                    </tbody>
                  </table>
                <!--TODO show patients alla carb inputs-->
            <!-- TODO add edit and delete buttons -->          

        </div>
    </div>
</div>