<form [formGroup]="myForm">
    <div>
        <h1 style="margin-left: 50px" ><img src="src\app\Pfizer-the-total-business.jpg" alt="Trulli" width="33" height="33">SACCHON</h1>
    </div>
    <div>
        <h1 style="margin-left: 50px">Sign In</h1><br><br>
    </div>
    <div>
        <label style="margin-left: 50px">e-mail</label><br>
        <input style="margin-left: 50px" formControlName="e-mail" type="text"><br>
    </div>
    <div>
        <label style="margin-left: 50px">password</label><br>
        <input style="margin-left: 50px" formControlName="password" type="text">
    </div>
    <div>
        <br><label style="margin-left: 105px">Sign In</label>
        <input formControlName="Sign In" type="submit"><br>
    </div>
    <div>
        <br><h5 style="margin-left: 50px">New Patient?<a style="color:blue;" [routerLink]="'MDR-sign-up-page'">Sign Up</a></h5>
    </div>
</form>