<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">SACCHON</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mdr">
          <a class="nav-link" href="#">View Data</a>
        </li>
        <li class="nav-item mdr">
          <a class="nav-link" href="#">Consultations</a>
        </li>
        <li class="nav-item da">
          <a class="nav-link" href="#">New Patients</a>
        </li>
        <li class="nav-item re">
          <a class="nav-link" href="#">Sign Up Doctor</a>
        </li>
        <li class="nav-item re">
          <a class="nav-link" href="#">Doctor Reports</a>
        </li>
        <li class="nav-item re">
          <a class="nav-link" href="#">Patient Reports</a>
        </li>
        <li class="nav-item mdr da">
          <a class="nav-link" href="#">Account</a>
        </li>
        
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="logout">Sign Out</button> -->
        <button type="button" class="btn btn-default btn-md btn-light">
          Sign Out
        </button>
      </form>
    </div>
  </nav>

  <!-- TODO make the right navbar lis show in the right pages-->