<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">SACCHON</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="medidatarepo">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="doctoradvice">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="reporter">Home</a>
        </li>
        <li class="nav-item mdr">
          <a class="nav-link" href="medidatarepo/viewdata">View Data</a>
        </li>
        <li class="nav-item da">
          <a class="nav-link" href="doctoradvice/newpatients">New Patients</a>
        </li>
        <li class="nav-item re">
          <a class="nav-link" href="reporter/doctorsignup">Sign Up Doctor</a>
        </li>
        <li class="nav-item re">
          <a class="nav-link" href="reporter/doctorreport">Doctor Reports</a>
        </li>
        <li class="nav-item re">
          <a class="nav-link" href="reporter/patientreport">Patient Reports</a>
        </li>
        <li class="nav-item mdr da">
          <a class="nav-link" href="medidatarepo/account">Account</a>
        </li>
        <li class="nav-item mdr da">
          <a class="nav-link" href="doctoradvice/account">Account</a>
        </li>
        
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="logout">Sign Out</button> -->
        <button type="button" class="btn btn-default btn-md btn-light" (click)="logOut()">
          Sign Out
        </button>
      </form>
    </div>
  </nav>

  <!-- TODO make the right navbar lis show in the right pages-->