<div class="container">
  <div class="row">
      <div class="col-md-6">
          <h3>patient: name surname </h3>
          <!--TODO patient name binding {{}}-->
      </div>
      <div class="col-md-6">
          <button type="button" class="btn btn-success" (click)="consult()">CONSULT</button>
          <!--TODO button functional-->
      </div>
  </div>
  <hr>
  <div class="row">
      <div class="col-md-4">
          <h3>Blood Level Glucose Inputs</h3>
          <table class="table" *ngIf="glucoses?.length">
              <thead>
                <tr>
                  <th scope="col">Level</th>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let g of glucoses">
                  <td>{{g.bloodGlucoseLevel}}</td> 
                  <td>{{ g.dateMeasured | date }}</td>  
                  <td>{{ g.dateMeasured | date:'shortTime'}}</td>                                  
                </tr>                   
              </tbody>
            </table>
          <!--TODO show patients all glucose inputs-->
      </div>
      <div class="col-md-4">
          <h3>Carb Intake Inputs</h3>
          <table class="table" *ngIf="carbs?.length">
              <thead>
                <tr>
                  <th scope="col">Carb Intake</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of carbs">
                  <td>{{c.carbInTake}}</td> 
                  <td>{{ c.dateMeasured | date }}</td>                                   
                </tr>                   
              </tbody>
            </table>
          <!--TODO show patients alla carb inputs-->
      </div>
      <div class="col-md-4">
          <h3>Past Consultations</h3>
          <table class="table" *ngIf="consults?.length">
              <thead>
                <tr>
                  <th scope="col">Consultation</th>
                  <th scope="col"></th>
                  <th scope="col">Doctor</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let con of consults; let isFirst=first;">
                  <td *ngIf="enableEdit && isFirst;else elseBlock">
                    <form [formGroup]="consultationForm">
                      <input formControlName="consultation" [ngModel]="con.description">     
                    </form>        
                  </td> 
                  <ng-template #elseBlock>
                    <td>
                      {{con.description}}               
                    </td> 
                  </ng-template>
                  
                  <td>
                    <span *ngIf="isFirst">
                      <button *ngIf="!enableEdit" type="button" class="btn-sm btn-primary" (click)="onEditClick($event, i)">Edit</button>
                      <button *ngIf="enableEdit && enableEditIndex == i" (click)="enableEdit=false" class="btn-sm page-secondary-action-btn" ng-click="cancel()">Cancel</button>
                      <button *ngIf="enableEdit && enableEditIndex == i" id="saveBtn" class="btn-sm page-primary-action-btn" (click)="saveConsult(con.dateCreated)" type="submit">Save</button>
                    </span>
                  </td>
                  <!-- <td>Dr {{doctor.firstName}} {{doctor.lastName}}</td>   -->
                  <!-- TODO uncomment when back sends it in right format -->
                  <td>{{ con.dateCreated | date }}</td>        
                </tr>                 
              </tbody>
            </table>
          <!--TODO show patients all consultations-->
      </div>


  </div>
</div>