<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
        patient: name surname
        <!--TODO patient name binding {{}}-->
    </div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-success">CONSULT</button>
        <!--TODO button functional-->
    </div>
    <div class="col-sm-3"></div>
</div>
<div class="row">
    <div class="col-sm-4">
        <h3>Blood Level Glucose Inputs</h3>
        <!--TODO show patients all glucose inputs-->
    </div>
    <div class="col-sm-4">
        <h3>Carb Intake Inputs</h3>
        <!--TODO show patients alla carb inputs-->
    </div>
    <div class="col-sm-4">
        <h3>Past Consultations</h3>
        <!--TODO show patients all consultations-->
    </div>


</div>