<div class="container">
    <div class="row">
        <h3>Hi patient!</h3>
        <!--TODO put patient name here-->
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Add your Daily data:</h4>
            <app-blood-glucose-form></app-blood-glucose-form>
            <app-carb-intake-form></app-carb-intake-form>

        </div>
        <div class="col-md-6">
            <h4>Your last Consultation:</h4>
            <div>
                <p> by: Dr Name  at Date</p>
                <p>last consultation here</p>
            </div>
            
        </div>
    </div>
</div>

