<div class="container">
    <div class="row">
        <h3>Hi patient!</h3>
        <!--TODO put patient name here-->
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Add your Daily data:</h4>
            <app-blood-glucose-form></app-blood-glucose-form>
            <app-carb-intake-form></app-carb-intake-form>

        </div>
        <div class="col-md-6">
            <h4>Your last Consultation:</h4>
            <div *ngIf="consults?.length">
                <div *ngFor="let c of consults; let isFirst=first;">
                    <div *ngIf="isFirst">
                        <p> by: Dr {{c.doctorName}}  at {{c.dateCreated | date}}</p>
                        <p>{{c.description}}</p>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</div>

