<form [formGroup]="myForm">
    <div>
        <h1 style="margin-left: 50px"><img src="src\app\Pfizer-the-total-business.jpg" alt="Trulli" width="33" height="33">SACCHON</h1><br><br>
    </div>
    <div class= "container">
    <div class="row">
            <a class="navbar-brand" style="margin-left: 50px" style="color:black;" [routerLink]="'MDR-home-page'">HOME</a> 
            <a class="navbar-brand" style="margin-left: 5px" style="color:black;" [routerLink]="'MDR-view-data-page'">VIEW MY DATA</a> 
            <a class="navbar-brand" style="margin-left: 5px" style="color:black;" [routerLink]="'MDR-past-consultations-page'">CONSULTATIONS</a> 
            <a class="navbar-brand" style="margin-left: 5px" style="color:black;" [routerLink]="'MDR-account-page'">ACCOUNT</a> 
            <a class="navbar-brand" style="margin-left: 5px" style="color:black;" [routerLink]="'MDR-login-page'">SIGN OUT</a>
    </div>
    <div>
        <h1 style="margin-left: 50px">Hi </h1>
    </div>
    <div>
        <h3 style="margin-left: 75px">Add your daily data:</h3> 
        
    </div>
    <div>
        <h3 style="margin-left: 75px">BLOOD GLUCOSE LEVEL</h3>
    </div>
    <div>
        <label style="margin-left: 75px">Blood Glycose Level (mg/dL)</label>
        <label style="margin-left: 3px">Date</label>
        <label style="margin-left: 148px">Time</label><br>
        <input style="margin-left: 75px" formControlName="Blood Glycose Level (mg/dL)" type="text">
        <input style="margin-left: 33px" type="date" id="date_blood" name="date_blood">
        <input style="margin-left: 33px" formControlName="time" type="text">
        <button type="submit">Submit</button><br>
    </div>
    <div>
        <h1 style="margin-left: 50px">CARB INTAKE</h1>
    </div>
    <div>
        <label style="margin-left: 75px">Carb Intake (grams)</label>
        <label style="margin-left: 70px" for="date">Date</label><br>
        <input style="margin-left: 75px" formControlName="Carb Intake (grams)" type="text">
        <input style="margin-left: 33px"type="date" id="date_carb" name="date_carb">
        <button type="submit">Submit</button><br>
    </div>
    <div>
        <h3 style="margin-left: 75px"> Your last Consultation</h3>
        <input style="margin-left: 75px" formControlName="Your last Consultation" type="text">
    </div>
</form>