<!-- <p>da-home works!</p> -->
<!-- <app-header></app-header>
<app-navbar></app-navbar> -->

<!-- TODO: Dr surname binding {{}}-->
<h2>Welcome Dr.</h2>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-3">
        <h3 class="center"> My Patients in need of Consulting </h3>
        <!-- TODO list of doctors patients ready for consulting -->
        <!-- <ul>
            <li *ngFor="let item of items; let idx=index;">
            {{idx}} : {{item}}  <button type="button" class="btn btn-primary">View Data</button>
            </li>
        </ul> -->
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-3">
        <h3 class="center"> All my Patients </h3>
        <!-- TODO list of all doctors patients -->
        <!-- <ul>
            <li *ngFor="let item of items; let idx=index;">
            {{idx}} : {{item}}  <button type="button" class="btn btn-primary">View Data</button>
            </li>
        </ul> -->
    </div>
    <div class="col-sm-2"></div>
</div>
<!-- 
<app-footer></app-footer> -->
