<h2>Welcome Dr.</h2>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-3">
        <h3 class="center"> My Patients in need of Consulting </h3>
        <table class="table" *ngIf="dataPI?.length">
            <thead>
              <tr>
                <th scope="col">Patients In Need of Consulting</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pi of dataPI">
                <td>{{pi.firstName}} {{pi.lastName}} <button type="button" class="btn-sm btn-primary" (click)="viewOPData(pi.id)">View Data</button></td>
              </tr>                  
            </tbody>
          </table>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-3">
        <h3 class="center"> All my Patients </h3>        
        <table class="table" *ngIf="dataP?.length">
            <thead>
              <tr>
                <th scope="col">Patients</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of dataP">
                <td>{{p.firstName}} {{p.lastName}} <button type="button" class="btn-sm btn-primary" (click)="viewOPData(p.id)">View Data</button></td>
              </tr>                  
            </tbody>
          </table>
    </div>
    <div class="col-sm-2"></div>
</div>

