<form [formGroup]="myForm">
    <div>
        <h1 style="margin-left: 50px"><img src="src\app\Pfizer-the-total-business.jpg" alt="Trulli" width="33" height="33">SACCHON</h1>
    </div>
    <div class= "container">
    <div class="row">
            <a class="navbar-brand" style="margin-left: 50px" style="color:black;" [routerLink]="'MDR-home-page'">HOME</a> 
            <a class="navbar-brand" style="margin-left: 5px" style="color:black;" [routerLink]="'MDR-view-data-page'">VIEW MY DATA</a> 
            <a class="navbar-brand" style="margin-left: 5px" style="color:black;" [routerLink]="'MDR-past-consultations-page'">CONSULTATIONS</a> 
            <a class="navbar-brand" style="margin-left: 5px" style="color:black;" [routerLink]="'MDR-account-page'">ACOUNT</a> 
            <a class="navbar-brand" style="margin-left: 5px" style="color:black;" [routerLink]="'MDR-login-page'">SIGN OUT</a>
    </div>
    <div>
        <h1 style="margin-left: 50px">PAST CONSULTATIONS</h1>
    </div>
    <div>
        <ul style="margin-left: 50px">
            <li><label for="consultation">Consultation</label>
                <label style="margin-left: 84px" for="doctor">Doctor</label>
                <label style="margin-left: 118px" for="date">Date</label>
            </li>
            <li><input type="text" id="consultation" name="consultation" value="">
                <input type="text" id="doctor" name="doctor" value="">
                <input type="date" id="date" name="date" value="">
            </li>
        </ul>
        
          <style>
              table {
                  font-family: arial, sans-serif;
                  border-collapse: collapse;
                  width: 50%;
                  }
          </style>
        <table>
            <tr>
              <th>Consultation</th>
              <th>Doctor</th>
              <th>Date</th>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
    </div>
</form>