<app-header></app-header>
<app-navbar></app-navbar>
<!-- <app-login-form></app-login-form>
<app-signup-patient-form></app-signup-patient-form>
<app-signup-doctor-form></app-signup-doctor-form>
<app-blood-glucose-form></app-blood-glucose-form>
<app-carb-intake-form></app-carb-intake-form>
<app-consultation-form></app-consultation-form>
<app-period-form></app-period-form> -->

<!-- <app-da-home></app-da-home> -->
<!-- <app-da-account></app-da-account> -->
<!-- <app-da-one-patient></app-da-one-patient> -->

<!-- <app-da-consultation></app-da-consultation>
<app-consultation-form></app-consultation-form> -->

<app-da-new-patient></app-da-new-patient>


<app-footer></app-footer> 