<app-header></app-header>
<app-navbar></app-navbar>
<!-- <app-login-form></app-login-form>
<app-signup-patient-form></app-signup-patient-form>
<app-signup-doctor-form></app-signup-doctor-form>
<app-blood-glucose-form></app-blood-glucose-form>
<app-carb-intake-form></app-carb-intake-form>
<app-consultation-form></app-consultation-form>
<app-period-form></app-period-form> -->

<!-- <app-da-home></app-da-home> -->
<!-- <app-account></app-account> -->
<!-- <app-da-one-patient></app-da-one-patient> -->

<!-- <app-da-consultation></app-da-consultation>
<app-consultation-form></app-consultation-form> -->

<!-- <app-da-new-patient></app-da-new-patient> -->

<!-- <app-re-home></app-re-home> -->
<!-- <app-signup-doctor-form></app-signup-doctor-form> -->

<!-- <app-re-doc-report></app-re-doc-report> -->

<!-- <app-re-pat-report></app-re-pat-report> -->

<!-- <app-mdr-home></app-mdr-home> -->
<!-- <app-mdr-view-data></app-mdr-view-data>-->
<!-- <app-mdr-past-consultations></app-mdr-past-consultations> -->

<!-- <app-log-in></app-log-in> -->
<app-patient-sign-up></app-patient-sign-up>




<app-footer></app-footer> 